img {
	background:black;
	border:2px solid rgba(255,255,255,0.8);
	display:inline-block;
	margin-bottom:15px;
}
img:hover{
	border:2px solid black!important;
	
}
.aVignettedel{
	position:absolute;top:0;left:0;right:0;bottom:0;
}
.aVignettedel:hover{
background:rgba(255,255,255,0.45);
color:white;
}
.aVignetteUpdate{
	position:absolute;top:0;left:0;right:0;bottom:40px;
}
.aVignetteUpdate:hover{
background:rgba(255,255,255,0.45);
color:white;
}
